body {
  
  color: #302F2C;
  background-color:#DAD4EF;
}
.row {
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-between;
}
h1{
  font-family: 'Press Start 2P', cursive;
}
